* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(210, 46%, 95%);
}

.container {
    display: grid;
    grid-template-columns: auto 30% auto;
    grid-template-rows: auto auto;
    text-align: left;
    height: 80vh;
    width: 80%;
    position: fixed;
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 2%;
}

.container div {
    margin: 10px;
    border-radius: 12px;
    padding: 10px;
}

p {
    font-size: 13px;
}

.item1 {
    grid-column: 1/3;
    background-color: hsl(263, 55%, 52%);
    background-image: url(./img/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0;
    background-size: 170px;
}

.item2 {
    grid-column: 3/4;
    background-color: hsl(217, 19%, 35%);
}

.item3 {
    grid-column: 4/5;
    grid-row: 1/3;
    background-color: hsl(0, 0%, 100%);
}

.item4 {
    grid-column: 1/2;
    background-color: hsl(0, 0%, 100%);
}

.item5 {
    grid-column: 2/4;
    background-color: hsl(219, 29%, 14%);
}

.mini-header {
    display: flex;
    justify-content: flex-start;
}

.img-profile {
    border-radius: 50%;
    border: 2px solid hsl(0, 0%, 81%);
    margin: 10px 0 10px 18px;
}

.titles h5 {
    color: white;
    padding-bottom: 5px;
}

.titles h6 {
    color: hsl(0, 0%, 81%);
}

.div-content {
    text-align: justify;
}

.item1 .div-content h1 {
    margin-left: 15px;
    color: white;
}

.item1 .div-content p {
    margin-top: 25px;
    color: hsl(0, 0%, 81%);
    margin-left: 10px;
}

.item2 .div-content h1 {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.item2 .div-content p {
    margin-top: 25px;
    color: hsl(0, 0%, 81%);
    margin-left: 10px;
    margin-right: 10px;
}

.item3 .titles h5 {
    color: black;
    padding-bottom: 5px;
}

.item3 .titles h6 {
    color: hsl(0, 0%, 81%);
}

.item3 .div-content h1 {
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

.item3 .div-content p {
    margin-top: 25px;
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
}

.item4 .titles h5 {
    color: black;
    padding-bottom: 5px;
}

.item4 .div-content p {
    margin-top: 25px;
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
}

.item5 .div-content p {
    margin-top: 25px;
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
}

.item5 .div-content h1 {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
